/* :root {
  --bgColor: white;
  --textColor: #111;
  --mainColor: #a086d3;
  --borderColor: seagreen;
}

html[data-theme="light"] {
  --background-color: white;
  --text-color: #111;
  --main-color: #a086d3;
  --link-color: #543fd7;
  --borderColor: seagreen;
}

html[data-theme="dark"] {
  --background-color: #212a2e;
  --text-color: #f7f8f8;
  --main-color: #a086d3;
  --link-color: #828fff;
  --borderColor: seagreen;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
  color: var(--link-color);
} 
/* 
body {
  transition: 1s all ease;
} */

/* .light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
} */

/* .container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* new  */

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --main-color: #a086d3;
  --link-color: #543fd7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}
.container {
  transition: 1s all ease;
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
